.articlePerfil{
    width: 100%;
    height: 800px;
    /* z-index: 1; */
    background: white;
}

.divTituloPerfil{
    width: 100%;
    height: 50px;
    box-shadow: 3px 0px 3px grey;
    float: left;
}

.divTituloPerfil h2{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.divContenedorPerfil{
    width: 100%;
    height: 750px;
    background: grey;
    float: left;
}
