.divLoginContenedor{
    width: 100%;
    height: 850px;
    color: black;
    margin-top: -850px;
    position: absolute;    
    z-index: 2;
    background: rgba(0, 0, 0, .4);
}

.divLoginContendorCentro{
    width: 50%;
    height: 500px;
    background: white;
    margin-top: 10em;
    border-radius: 5px;
    margin-left: 25%;
    /* float: left; */
}

.divLoginTitulo{
    width: 90%;
    height: 50px;
    /* background: red; */
    margin-top: 10px;
    float: left;
}

.divLoginTitulo h2{
    text-align: center;
    margin-top: 10px;    
    font-size: 35px;
}

.divLoginBotonAtras{
    width: 7%;
    height: 50px;
    margin-top: 10px;
    background: black;
    border-radius: 50px;
    border: none;
    overflow: hidden;
    float: left;

}

.divLoginBotonAtras input[type='button']{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    background: #282c34;
    color: white;
    cursor: pointer;
}


.divLoginBotonAtras input[type='button']:hover{
    background: #575D5E;
}

.divLoginFormulario{
    width: 90%;
    height: 370px;
    margin-left: 5%;
    margin-top: 2em;
    /* background: blue; */
    float: left;
}

.divLoginFormulario input{
    width: 90%;
    height: 50px;
    margin-left: 5%;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 20px;
    margin-top: 2em;
}

.divLoginFormulario input[type='submit']{
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-top: 2.2em;
    border-radius: 5px;
    border: none;
    background: #61dafb;
    color: white;
    cursor: pointer;
    font-size: 25px;
}

.divLoginFormulario input[type='submit']:hover{
    background: #21C4F2;
}