aside{
    /* width: 30%; */
    height: 800px;
    margin-top: -800px;
    position: absolute;
    box-shadow: 5px 0px 3px grey;;
    z-index: 1;
    background: #61dafb;
    overflow: hidden;
    transition: all 300ms;
}

aside form{
    width: 98%;
    height: 30px;
    /* background: grey; */
    margin-left: 1%;
    margin-top: 10px;
}

aside form input[type='text']{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}

aside form input[type='submit']{
    width: 28%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 1%;
    background: #282c34;
    color: white;
    cursor: pointer;
}

aside form input[type='submit']:hover{
    background: #575D5E;
}